<div class="container-fluid">
<div class="row" style="padding-left: 20px; margin-top: 50px; padding-top: 90px; padding-bottom: 50px; background-color: #1A1919">

    <div class="col-sm-1 col-md-1 col-lg-1 custom-contact-col"></div>
    <div class="col-sm-3 col-md-3 col-lg-3 custom-col">
        <h3 style=" margin-bottom: 20px">Thompsons</h3>
        <h3 style="margin-bottom: 20px">Window Cleaning Services</h3>
        <p>Thompsons Window Cleaning Services is Sutton Coldfield’s and surrounding areas most professional domestic and commercial cleaning service provider.</p>
        <p>Call us today for a fast, free, and friendly consultation for your cleaning requirements for your home or business. Use Thompsons Window Cleaning Services to keep your home or commercial premises fresh and clean.</p>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 custom-contact-col"></div>
    <div class="col-sm-3 col-md-3 col-lg-3 custom-contact-col">
        <h3 style="margin-bottom: 20px">Contact Us</h3>
        <p>Call: 07860 602012</p>
        <p>Email: thompsonclean.ds@gmail.com</p>
        <p>Or use our contact form!</p>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 custom-contact-col"></div>
    <div class="col-sm-3 col-md-43col-lg-3 custom-col">
        <h3 style="margin-bottom: 20px">Get a quote</h3>
        <p style="line-height: 0px">Use our Instant Quote Calculator</p>
        <p style="line-height: 0px">to get a quote now!</p>
        <div class="center-button">
            <button style="margin-top: 20px" class="btn btn-secondary" (click)="onQuoteClick()">Instant Quote</button>
        </div>
    </div>
</div>
</div>
